---
import DynamicIcon from "@/helpers/DynamicIcon";
import ImageMod from "@/components/ImageMod.astro";

interface SocialLink {
  name: string;
  url: string;
  icon: string;
}

interface Member {
  name: string;
  position: string;
  image: string;
  social_links: SocialLink[];
}

interface Props {
  member: Member;
}

const { member }: Props = Astro.props;
---

<div class="bg-light rounded-3xl relative overflow-hidden h-114 sm:h-108 flex items-end p-6">
  <ImageMod
    src={member.image}
    alt={member.name}
    width={600}
    height={600}
    class="size-full object-cover object-[48.7%_0%] absolute top-0 left-0 z-2"
  />
  <div class="opacity-80 -translate-x-1/2 aspect-[0.990676/1] -bottom-66 flex-none h-160.75 left-1/2 absolute w-[150%] z-1">
    <ImageMod
      src="/images/shapes/blur-box.png"
      alt="overlay"
      width={800}
      height={800}
    />
  </div>

  <div class="relative z-3 bg-light w-full rounded-2xl p-4 flex justify-between items-center">
    <div>
      <h3 class="text-2xl mb-2">{member.name}</h3>
      <p class="font-secondary text-xl">{member.position}</p>
    </div>
    <ul class="flex gap-3">
      {
        member.social_links.map((social) => (
          <li class="inline-block">
            <a
              href={social.url}
              class="p-3 bg-linear-to-b from-white to-[rgb(228,219,255)] rounded-full badge-shadow bg-red-100 inline-block relative group"
              target="_blank"
              rel="noopener noreferrer"
            >
              <div class="absolute inset-0 rounded-full bg-gradient-dark opacity-0 group-hover:opacity-100 transition-opacity duration-300" />
              <DynamicIcon
                client:visible
                icon={social.icon}
                className="text-xl relative z-2 group-hover:text-light"
              />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>
